Flask==3.0.3
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.2
email-validator==2.2.0
SQLAlchemy==2.0.36
psycopg2-binary==2.9.9
python-dotenv==1.0.1
itsdangerous==2.2.0
Werkzeug==3.0.4
requests==2.32.3
Pillow==10.4.0
